:root {
    --bg-color: #1c2841;
    --primary-white: #f0ffff;
    --cc-lightGreen: #66ff00; 
    --cc-darkGreen: #4db209; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: var(--bg-color);
    font-family: 'Orbitron', sans-serif;
}

/* ENTRY BOX */

.input-container {
    margin-bottom: 50px;
    width: 680px;
}

.input-container__entry-area {
    position: relative;
    height: 80px;
    line-height: 80px;
}

.input-container__entry {
    position: absolute;
    width: 100%;
    outline: none;
    font-size: 2.1em;
    padding: 0 30px;
    line-height: 80px;
    border-radius: 10px;
    border: 2px solid var(--primary-white);
    background: transparent;
    transition: 0.1s ease;
    z-index: 101;
}

.input-container__entry:focus,
.input-container__entry:valid {
    color: var(--cc-lightGreen);
    border: 4px solid var(--cc-lightGreen);
} 

.input-container__entry:focus + .input-container__label,
.input-container__entry:valid + .input-container__label {
    color: var(--cc-lightGreen);
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    transform: translate(-15px, -16px) scale(0.88);
    z-index: 101;
} 

.input-container__label {
    position: absolute;
    font-size: 1.6em;
    color: var(--primary-white);
    padding: 0 25px;
    margin: 0 20px;
    background-color: var(--bg-color);
    transition: 0.1s ease;
}

/* label: error animation */

.label--error {
    animation: error .3s 3;
} 

/* check button */

.input-container__button {
    position: relative;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    background: transparent;
    border: none;
    text-align: center;
    font-size: 1.6em;
    font-family: inherit;
    color: var(--primary-white);
    cursor: pointer;
    transition: all 0.6s ease;
    z-index: 1;
}

.input-container__button:hover {
    color: var(--primary-white);
}

.input-container__button:after {
    content: "";
    position: absolute;
    width: 2%;
    height: 115%;
    left: 0;
    top: 0;
    background-color: var(--primary-white);
    transform: skew(20deg, 0deg);
    transition: all 0.4s ease;
}

.input-container__button:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 3px solid var(--cc-lightGreen);
    transform: skew(20deg, 0deg);
    transition: all 0.4s ease;
    z-index: -1;
}

.button--hover:hover::after {
    background-color: #ffffff31;
    transform: skew(20deg, 0deg);
    left: calc(105%);
}

.button--hover:hover::before {
    background-color: var(--cc-darkGreen);
    border: 3px solid var(--cc-lightGreen);
    transform: skew(20deg, 0deg) scale(1.1)
}

/* check button: error animation */

.button--error {
    animation: error .3s 250ms 2;
}

.button--error::before {
    animation: error .3s 3;
}

@keyframes error {
    0% {
        color: var(--primary-white);
        border-color: var(--primary-white);
    }

    100% {
        color: red;
        border-color: red;
    }
}

/* RESULT */

.input-container__result-div {
    margin-top: 30px;
    text-align: center;
} 

.input-container__result-text {
    display: none;
    font-size: 1.6em;
    user-select: none;
    letter-spacing: 8px;
    line-height: 30px;
    font-weight: 400;
    color: var(--primary-white);
    border-right: 2px solid var(--cc-lightGreen);
    animation: cursor .8s infinite;
}

/* is-palindrome */
.is-green {
    color: var(--cc-lightGreen);
}

/* result: false */
.not-palindrome {
    color: red;
}

/* DEFINITION-BOX */

.definition-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    cursor: pointer;
}


/* icon */

.definition-container__icon {
    margin-right: 10px;
    opacity: 0;
    animation: icon-display-in 1.7s ease-in forwards;
    transition: all 0.4s ease;
}

@keyframes icon-display-in {
    80% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

@keyframes icon-display-out {
    60% {
        opacity: 1;
    }
    
    100% {
        opacity: 1;
    }
}

.definition-container__icon:hover {
    transform: scale(1.2);
}

/* definition */

.definition-container__definition {
    display: inline;
    text-align: center;
}

.definition-container__animated-text {
    width: 100%;
    font-size: 1.1em;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 10px;
    line-height: 30px;
    font-weight: 400;
    color: var(--primary-white);
    border-right: 2px solid var(--cc-lightGreen);
    animation: cursor .8s infinite;
    transition: all 0.4s ease;
}

.animated-text--animation:hover {
    animation: blink .6s infinite;
}



@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes blink {
    50% {
        color: var(--cc-darkGreen);
        border-right: 2px solid var(--cc-darkGreen);
    }
}

