:root {
    --bg-color: #1c2841;
    --primary-white: #f0ffff;
    --secondary-font: #66ff00; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: var(--bg-color);
    font-family: 'Orbitron', sans-serif;
}

/* ENTRY BOX */

.input-container {
    margin-bottom: 50px;
    width: 680px;
}

.input-container__entry-area {
    position: relative;
    height: 80px;
    line-height: 80px;
}

.input-container__entry {
    position: absolute;
    width: 100%;
    outline: none;
    font-size: 2.1em;
    padding: 0 30px;
    line-height: 80px;
    border-radius: 10px;
    border: 2px solid var(--primary-white);
    background: transparent;
    transition: 0.1s ease;
    z-index: 101;
}

.input-container__entry:focus,
.input-container__entry:valid {
    color: var(--secondary-font);
    border: 4px solid var(--secondary-font);
} 

.input-container__entry:focus + .input-container__label,
.input-container__entry:valid + .input-container__label {
    color: var(--secondary-font);
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    transform: translate(-15px, -16px) scale(0.88);
    z-index: 101;
} 

.input-container__label {
    position: absolute;
    font-size: 1.6em;
    color: var(--primary-white);
    padding: 0 25px;
    margin: 0 20px;
    background-color: var(--bg-color);
    transition: 0.1s ease;
}

/* DEFINITION */

.definition-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
}

.definition-container__icon {
    cursor: pointer;
    margin-right: 10px;
}

.definition-container__icon:hover {
    scale: 1.2;
}

.definition-container__definition {
    display: inline;
    text-align: center;
}

.definition-container__animated-text {
    width: 100%;
    font-size: 1.1em;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 10px;
    line-height: 30px;
    font-weight: 400;
    color: var(--primary-white);
    border-right: 2px solid #ff7f50;
    animation: 
        cursor .8s infinite;
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

