/* check button */

.input-container {

    &__button {
        position: relative;
        width: 100%;
        height: 40px;
        margin-top: 20px;
        text-align: center;
        font-size: var(--fs-500);
        font-family: inherit;
        background: transparent;
        color: var(--clr-white);
        border: none;
        cursor: pointer;
        transition: all 0.6s ease;
        z-index: 1;
    }

    &__button:after {
        content: "";
        position: absolute;
        width: 2%;
        height: 115%;
        left: 0;
        top: 0;
        background-color: var(--clr-white);
        transform: skew(20deg, 0deg);
        transition: all 0.4s ease;
    }
    
    &__button:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border: 3px solid var(--clr-lightGreen);
        transform: skew(20deg, 0deg);
        transition: all 0.4s ease;
        z-index: -1;
    }
}

@media screen and (hover: hover) {
    .input-container__button:hover {
        color: var(--clr-white);
    }

    .button--hover {
        &:hover::after {
            left: calc(105%);
            background-color: #ffffff31;
            transform: skew(20deg, 0deg);
        }
        
        &:hover::before {
            background-color: var(--clr-darkGreen);
            border: 3px solid var(--clr-lightGreen);
            transform: skew(20deg, 0deg) scale(1.1);
        }
    }
}

  /* touch devices */
@media screen and (hover: none) {
    .input-container__button:active {
        color: var(--clr-white);
    }

    .button--hover {
        &:active::after {
            left: calc(0%);
            background-color: #ffffff31;
            transform: skew(20deg, 0deg);
        }
        
        &:active::before {
            background-color: var(--clr-darkGreen);
            border: 3px solid var(--clr-lightGreen);
            transform: skew(20deg, 0deg) scale(1.1);
        }
    }

}


/* check button: error animation */
.button--error {
    animation: error .3s 250ms 2;

    &::before {
        animation: error .3s 3;
    }

}

@keyframes error {
    0% {
        color: var(--clr-white);
        border-color: var(--clr-white);
    }

    100% {
        color: var(--clr-error);
        border-color: var(--clr-error);
    }
} 