:root {
    /* COLORS */
    --bg-color: #1c2841;
    --clr-white: #fff3f0;
    --clr-lightGreen: #66ff00; 
    --clr-darkGreen: #4db209; 
    --clr-error: #b92d2d;

    /* FONTS */
    --ff-primary: 'Orbitron', sans-serif;

    --fs-600: 2.1em;
    --fs-500: 1.6em;
    --fs-400: 1.1em;
    --fs-300: 0.95em;
    --fs-200: 0.75em;

    --fw-400: 400;
}